@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #fff8fb;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Floating Animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}

/* Slow Pulse */
@keyframes slowPulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.08);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

.pulse-slow {
  animation: slowPulse 6s ease-in-out infinite;
}

.title-font {
  font-family: 'Playfair Display', serif;
}